@import "formalize";
@import "normalize";
@import "veriables";
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap");
@import "header";
@import "content";
@import "responsive";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
p {
  font-size: $my-font;
}
a {
  color: black;
}
